<% @position_0 = nil %>
<% @position_1 = nil %>
<% @position_2 = nil %>

<div class="canvas">
  <div class="half-box left">
  <% if @position_0.present? %>
      <%= @position_0.message %>
  <% else %>
    <div class="new centered">
      <%= link_to "T#{@page.id}", "#" %>
    </div>
  <% end %>
  </div>
  <div id="layoutPhotoTarget" class="quarter-box right">
    <% if (photos = @page.photos.where(layout_position = 1)).count != 0 %>
      <%= image_tag(photos.first.image_url) %>
    <% else %>
      <%= image_tag("fbook.jpeg") %>
    <% end %>
  </div>
  <div class="quarter-box right">
  <% if @position_2.present? %>
    <a href="<%= edit_photo_url(@position_2.id) %>"><img src="<%= @position_2.source_url %>"></a>
  <% else %>
    <div class="new centered">
      <%= link_to 'P', "#" %>
    </div>
  <% end %>
  </div>
</div>
<%= form_tag("/users/#{@user.id}/pages/#{@page.id}", :id => "photo_submit", :method => "post", remote: true) do %>
  <%= hidden_field_tag "inputPhotoTarget", "image_url" %>
<% end %>

<div id=pagenav>
  <div class="pagination mypagination pagination-right">
    <ul>
      <li><a href="#">Prev</a></li>
      <% page_num = 1 %>
      <% @user.pages.each do |page| %>
        <li> <%= link_to "#{page_num}", user_path(@user) + "/pages/#{page.id}", remote: true %> </li>
        <% page_num += 1 %>
      <% end %>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>
