<% @position_0 = nil %>
<% @position_1 = nil %>
<% @position_2 = nil %>

<div class="canvas">
  <div class="half-box left">
  <% if @position_0.present? %>
      <%= @position_0.message %>
  <% else %>
    <div class="new centered">
      <%= link_to "T#{@page}", "#" %>
    </div>
  <% end %>
  </div>
  <div id="layoutPhotoTarget" class="quarter-box right">
  <%= image_tag("fbook.jpeg") %>
  </div>
  <div class="quarter-box right">
  <% if @position_2.present? %>
    <a href="<%= edit_photo_url(@position_2.id) %>"><img src="<%= @position_2.source_url %>"></a>
  <% else %>
    <div class="new centered">
      <%= link_to 'P', "#" %>
    </div>
  <% end %>
  </div>
</div>
<%= form_tag("/pages/#{@page}", :method => "post") do %>
  <%= label_tag(:q, "Photo for page #{@page}:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>
<div class="pagination mypagination pagination-right">
  <ul>
    <li><a href="#">Prev</a></li>
    <li> <%= link_to "1", user_path(@user) + "/page/1", remote: true %> </li>
    <li> <%= link_to "2", user_path(@user) + "/page/2", remote: true %> </li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
