<div class="row">
  <div class="span3">
    <%= render "sidebar" %>
  </div><!--/span-->
  <div class="span9">
    <div class="hero-unit" style="border: 3px solid Tomato; background-color: Orange">
      <h3>User:</h3>
      <p>User: <%= @user.name %></p>
      <p>Email: <%= @user.email if @user.email %></p>
    </div>

    <% count = 0 %>
    <% @albums.each do |album| %>
      <% if count == 0 %>
      <div class="row">
      <% end %>
        <div class="span3">
        <a href="#" class="thumbnail node-two">
          <%= image_tag(album.image_url) %>
          <%= album.name %>
        </a>
        </div><!--/span-->
      <% count += 1 %>
      <% if count == 3 %>
        </div><!--/row-->
        <% count = 0 %>
      <% end %>
    <% end %>
    <% if count != 0 %>
      </div><!--/row-->
    <% end %>
  </div>
</div>
