<div class="row">
  <div class="span3">
    <%= render "sidebar" %>
  </div><!--/span-->
  <div class="span9">
      <% @position_0 = nil %>
      <% @position_1 = nil %>
      <% @position_2 = nil %>


      <div class="canvas">
        <div class="half-box left">
          <% if @position_0.present? %>
              <%= @position_0.message %>
          <% else %>
            <div class="new centered">
              <%= link_to 'T', "#" %>
            </div>
          <% end %>
        </div>
        <div class="quarter-box right">
          <% if @position_1.present? %>
            <a href="<%= edit_photo_url(@position_1.id) %>"><img src="<%= @position_1.source_url %>"></a>
          <% else %>
            <div class="new centered">
              <%= link_to 'P', "#" %>
            </div>
          <% end %>
        </div>
        <div class="quarter-box right">
          <% if @position_2.present? %>
            <a href="<%= edit_photo_url(@position_2.id) %>"><img src="<%= @position_2.source_url %>"></a>
          <% else %>
            <div class="new centered">
              <%= link_to 'P', "#" %>
            </div>
          <% end %>
        </div>
        <div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
      </div>



    <% count = 0 %>
    <% @photos.each do |photo| %>
      <% if count == 0 %>
      <div class="row">
      <% end %>
        <div class="span3">
        <a href="#" class="thumbnail node-two">
          <%= image_tag(photo.image_url) %>
          <%= photo.name %>
        </a>
        </div><!--/span-->
      <% count += 1 %>
      <% if count == 3 %>
        </div><!--/row-->
        <% count = 0 %>
      <% end %>
    <% end %>
    <% if count != 0 %>
      </div><!--/row-->
    <% end %>
  </div>
</div>
